<%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <div class="online-ordering">
        <%- include('includes/navigation.ejs') %>

        <main>
            <div class="page menu-page">
                <div class="body">
                    <div class="menu" id="menu">                    
                        <%- include('includes/category.ejs') %>
                        
                        <div class="item-list-widget">
                            
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <%- include('includes/foot.ejs') %>
    </div>
<%- include('includes/end.ejs') %>