
<div class="row">
    <div class="col-12">
        <div class="table-responsive shop_cart_table">
            <% total = 0 %>
            <table class="table">
                <thead>
                    <tr>
                        <th class="product-name">Product</th>
                        <th></th>
                        <th class="product-price">Price</th>
                        <th class="product-quantity">Quantity</th>
                        <th class="product-subtotal">Total</th>
                        <th class="product-remove">Remove</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(let pizza of Object.values(session.cart.items)) {%>
                    <% total = total + pizza.item.price*pizza.qty %>
                    <tr>
                        <td class="product-name" data-title="Product"><%= pizza.item.itemName %>
                            <br/><small id="pizza-<%= pizza.item.id %>"><%= pizza.note %></small>
                        </td>
                        <td>
                            <a id="yes-btn" class="add-to-cart-button theme-btn btn-style-three" data-id="<%= pizza.item.id %>" href="javascript:void(0)"><i class="fas fa-pencil-alt"></i>Note</a>
                        </td>
                        <td class="product-price" data-title="Price">$<%= pizza.item.price %>&nbsp;×&nbsp;<%= pizza.qty %></strong></td>
                        <td class="product-quantity" data-title="Quantity">
                            <div class="quantity aiz-plus-minus mr-2 ml-0">
                                <button class="btn col-auto btn-icon btn-sm btn-circle btn-light minus" type="button" data-type="minus" data-field="quantity[<%= pizza.item.id %>]">
                                    <i class="ti-minus"></i>
                                </button>
                                <input type="text" name="quantity[<%= pizza.item.id %>]" class="qty update-quantity" placeholder="1" value="<%= pizza.qty %>" min="1" max="10" readonly onchange="updateQuantity('<%= pizza.item.id %>','<%= pizza.item.price %>', this)">
                                <button class="btn col-auto btn-icon btn-sm btn-circle btn-light plus" type="button" data-type="plus" data-field="quantity[<%= pizza.item.id %>]">
                                    <i class="ti-plus"></i>
                                </button>
                            </div>
                        </td>
                        <td class="product-subtotal" data-title="Total">$<%= (pizza.item.price * pizza.qty).toFixed(2) %></td>
                        <td class="product-remove" data-title="Remove">
                            <a href="javascript:void(0)" onclick="removeFromCartView(event, '<%= pizza.item.id %>')" class="btn btn-icon btn-sm btn-soft-primary btn-circle">
                                <i class="ti-close"></i>
                            </a>
                        </td>
                    </tr>
                    <% } %>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="6" class="px-0">
                            <div class="row no-gutters align-items-center">        
                                <div class="col-lg-6 col-md-6 mb-3 mb-md-0">
                                    <div class="coupon field_form input-group">
                                        <input type="text" value="$<%= total.toFixed(2) %>" class="form-control form-control-sm cart_total_amount" disabled="disabled" readonly="readonly">
                                        &nbsp;&nbsp;
                                        <div class="input-group-append">
                                            <a href="<% if(table_number != null) {%>/checkout2<% } else { %>/checkout<% } %>" class="btn btn-default btn-sm chackout_asap">As Soon As</a>
                                        </div>
                                        &nbsp;&nbsp;
                                        <div class="input-group-append">
                                            <a href="/advance" class="btn btn-default btn-sm">Advance Order</a>
                                        </div> 
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript">
    var cartCounter = document.querySelector('#cart-counter');
    cartCounter.innerText = <%= totalQty %>;

    var mobCartCounter = document.querySelector('#mob-cart-counter');
    mobCartCounter.innerText = <%= totalQty %>;

    AIZ.extra.plusMinus();
</script>
